<ion-header  no-border>
  <ion-toolbar>

    <ion-avatar slot="end">
      <img src="/assets/avatars/av-1.png" >
    </ion-avatar>

    


    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  

  <!-- Posts -->
  <app-tasks [tasks]="tasks" ></app-tasks> 


  <!-- Infinite Scroll -->

  <ion-infinite-scroll  [disabled]="!habilitado"
                        threshold="150px" 
                        (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
